# Cache
_pycache_
__pycache__
.pytest_cache
lib/_pycache_
lib/__pycache__
utils/_pycache_
utils/__pycache__
utils/.pytest_cache

# Files
*.keystore
*.zip
*.apks
*.aab
*.apk
*.jar
*.pyc

# Mac OS
.DS_Store

/lib
/output
/build/*.aab
/lib/*.jar